@model PiggyBankMVC.Models.ViewModels.OrderDetailsViewModel

@{
    ViewData["Title"] = "Order Details - View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Order Details - View</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            OrderId
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderDetailId)
        </dd>
        <hr />
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            Product Name
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" role="button" class="btn btn-secondary">Back to List</a>
</div>
