@using System.Globalization;
@model PiggyBankMVC.Models.ViewModels.ShoppingCartViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row checkoutForm">
    <h1>Shopping cart</h1>
    <hr />
    <br />

    @if (Model.ShoppingCart != null && Model.ShoppingCart.Items.Count() != 0)
    {
        <table class="table table-stripped">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Total Price</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ShoppingCart.Items)
                {
                    <tr>
                        <td>
                            @item.Product?.Name
                        </td>
                        <td>
                            @item.Quantity
                        </td>
                        <td>
                            @{
                                decimal sum = (decimal)(item.Product?.Price * @item.Quantity);
                            }
                            @sum.ToString("c", CultureInfo.CreateSpecificCulture("fr-FR"))
                        </td>
                        <td>
                            <a
                                asp-controller="ShoppingCarts"
                                asp-action="Remove"
                                asp-route-productId="@item.ProductId"
                                role="button" class="btn btn-danger">
                                Remove
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <br /><br /><br /><br />
        <hr />
        <br />

        <dl class="row">
            <dt class="col-sm-1">
                Total Price
            </dt>
            <dd class="col-sm-10">
                @(
                    Model.TotalPrice.ToString("c", CultureInfo.CreateSpecificCulture("fr-FR"))
                )
            </dd>
        </dl>



        <!-- Modal -->
        <div class="modal fade" id="confirmOrder" tabindex="-1" aria-labelledby="confirmOrder" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="confirmOrderLabel">Confirm order ?</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>
                        <a asp-controller="ShoppingCarts" asp-action="ConvertToOrder" role="button" class="btn btn-success">
                            Confirm
                        </a>
                    </div>
                </div>
            </div>
        </div>


        <div style="display: flex; flex-direction: row; justify-content: space-between; align-items: center">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#confirmOrder">
                Order
            </button>

            <a asp-controller="ShoppingCarts" asp-action="Wipe" role="button" class="btn btn-danger" align="right">
                Wipe cart
            </a>
        </div>

        <br />
    }
    else
    {
        <p>You cart is empty. Go shopping !</p>
    }

    <br />
    <hr />

    <div>
        <a class="" asp-action="Back" role="button" class="btn btn-secondary" asp-route-returnUrl="@Model.LastUrl">Back</a>
    </div>

</div>
