@using PiggyBankMVC.Models.ViewModels
@model List<UserRolesManageViewModel>
@{
    ViewData["Title"] = "Edit User Roles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form method="post">
    <div>
        <h4>Edit User Roles</h4>
    </div>
    <hr />
    <h7><em>@ViewBag.Email</em></h7>
    <hr />
    <div>
        @for (int i = 0; i < Model.Count; i++)
        {
            <div>
                <input type="hidden" asp-for="@Model[i].RoleId" />
                <input type="hidden" asp-for="@Model[i].RoleName" />
                @if (Model[i].RoleName != "Visitor")
                {
                    <input asp-for="@Model[i].Selected" />
                    <label asp-for="@Model[i].Selected">@Model[i].RoleName</label>
                }
                else
                {
                    <input asp-for="@Model[i].Selected" disabled="disabled" />
                    <label asp-for="@Model[i].Selected"><s>@Model[i].RoleName</s></label>
                }
            </div>
        }
        <div asp-validation-summary="All" ></div>
    </div>
    <br />
    <div>
        <input type="submit" value="Update" />
    </div>
</form>