@model PiggyBankMVC.Models.Product

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Html.DisplayFor(model => model.Name)</h1>
<h5>@Html.DisplayFor(model => model.Description)</h5>

<div>
    <hr />

    <dl class="row">
        <dt class = "col-sm-2">
            Image
        </dt>
        <dd class = "col-sm-10">
            @if (Model.ImageUrl != null)
            {
                <img src="@Model.ImageUrl" asp-append-version="true" alt="@Model.Name" width="300px" height="300px" >
            }
            else
            {
                <i><code>No Image</code></i>
            }
        </dd>
        <dt class="col-sm-2">
            Dimensions (H x W x L)
        </dt>
        <dd class="col-sm-10">
            @Model.Height mm x @Model.Width mm x @Model.Length mm
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Weight) g
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Capacity) coins
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Capacity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Manufacturer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Manufacturer.Name)
        </dd>
    </dl>
</div>

@if (User.IsInRole("Customer"))
{
    <td>
        <a asp-controller="ShoppingCarts"
           asp-action="Add"
           asp-route-productId="@Model.ProductId"
           asp-route-quantity="1"
           asp-route-lastUrl="@Context.Request.Path">
           <button type="button" class="btn btn-success">Add to Cart</button>
        </a>
    </td>
}

<hr />

<div>
    @if (User.IsInRole("Admin"))
    {
        <a asp-action="Edit" role="button" class="btn btn-warning" asp-route-id="@Model?.ProductId">Edit</a>
    }
    <a asp-action="Index" role="button" class="btn btn-secondary">Back to List</a>
</div>
