@using System.Globalization;
@model PiggyBankMVC.Models.ViewModels.OrderViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Order</h1>

<div>
    <hr />
    <dl class="row">

        <dt class="col-sm-2">
            OrderId
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.OrderId)
        </dd>
        <hr />

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Order.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Order.CreatedAt)
        </dd>
        @if (User.IsInRole("Admin"))
        {
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Order.User)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Order.User.Email)
            </dd>
        }
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Order.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Order.Address.City)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Order.OrderStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Order.OrderStatus)
        </dd>
    </dl>
</div>


@if (User.IsInRole("Admin"))
{
    <div>
        <a asp-action="Edit" asp-route-id="@Model?.Order?.OrderId" role="button" class="btn btn-warning">Edit</a>
    </div>
}


<br />

<h4>Order Details</h4>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Product
                </th>
                <th>
                    Price
                </th>
                <th>
                    Quantity
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Details)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.Name)
                    </td>
                    <td>
                        @item.Price.ToString("c", CultureInfo.CreateSpecificCulture("fr-FR"))
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalProducts)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalProducts)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UniqueProducts)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UniqueProducts)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalPrice)
        </dt>
        <dd class="col-sm-10">
            @Model.TotalPrice.ToString("c", CultureInfo.CreateSpecificCulture("fr-FR"))
        </dd>
    </dl>
</div>

<br />

<div>
    <a asp-action="Index" role="button" class="btn btn-secondary">Back to List</a>
</div>
